.panel-box {
	width: 100%;
	text-align: center;
	font-size: 0;
	white-space: nowrap;
	position: absolute;
	top: 40%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.panel {
	text-align: left;
	display: inline-block;
	position: relative;
	border: none;
	margin-bottom: 0;
	font-size: 14px;
	border-radius: 7px;
	z-index: 9;
}

.panel-width {
	width: 144px;
}

.panel-default .panel-heading {
	background-color: #d9534f;
	border-radius: 7px 7px 0 0;
	border: solid 1px #d9534f;
	color: #fff;
	padding-left: 10px;
}

.panel-default .panel-footer {
	border: none;
	border-radius: 0 0 7px 7px;
}

.panel-body {
	height: 192px;
	padding: 0;
}

.headimg {
	width: 100%;
	height: 100%;
	background-position: center center;
	background-size: cover;
	/*background-image: url(../img/11186424448b80f7e5o.jpg);*/
}

.hr {
	width: 12px;
	position: absolute;
	height: 100%;
	display: inline-block;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-left: -1px;
	z-index: 10;
	font-size: 2px;
}

.hr-body {
	border-left: dotted 2px #555;
	height: 100%;
}

.panel-table {
	overflow: auto;
}

.fg {
	width: 100%;
	background-color: #A1A2A3;
	height: 1px;
	margin-bottom: 5px;
}